<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>

    <div class="home-container" style="background-color: #d9eeff;background-image: url(/img/aboutimg.png);background-size: contain;">
      <div class="home-contain" style="text-align: center;width: 65%;margin: auto;">
        <div>
          <h1 class="block">Introduction</h1>
          <p>Founded in 2015, OffersHub was made with a thought of ease and affordability in mind. We are a performance marketing platform aiming to grow mutually with our partners and provide a platform where you save on your marketing expenses and expand your Horizons.</p>
          <img src="/img/about.jpg" alt="" height="400" style="width: 100%;margin-top: 30px;">
        </div>
      </div>
    </div>

    <h2 class="center" style="color: black;font-size: 32px;margin:10px 0px ;">Our Goals</h2>
    <div>

    </div>

    <h1 class="center" style="color: #00346f;font-size: 40px;font-weight: 400;text-align: center;">Our Offices</h1>

    <div class="map">
      <div class="imap block">
        <img src="/img/srilanka.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub HQ</h3>
          <p>1482/3C-1, Hokanda Rd, Pannipitya, Colombo, 10230, Sri Lanka</p>
        </div>
      </div>
      <div class="imap block">
        <img src="/img/usa.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub USA</h3>
          <p>315 Montgomery Street,San Francisco,California, 94104, USA</p>
        </div>
      </div>
      <div class="imap block">
        <img src="/img/india.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub India</h3>
          <p>UG-06, MGF Metropolis Mall, Sector 28, MG Road, Gurugram , Haryana, India 122002</p>
        </div>
      </div>
      <div class="imap block">
        <img src="/img/singapore.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub Singapore</h3>
          <p>Blk 1G Cantonment Rd, Level 1, Singapore 080001</p>
        </div>
      </div>
    </div>

    <!-- free trial container -->
    <%- include('partials/trial') -%>

  </main>

  <%- include('partials/footer') -%>
</body>

</html>