<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="ecom">
      <img src="/img/advertisers1.png" alt="" style="height: 400px;">
      <div class="main-contain">
        <h1 style="font-size: 50px;">Advertisers</h1>
        <p>Manage all your campaigns and affiliates in one dashboard while providing a self-service dashboard to your affiliates. Easily monitor campaign performances in real-time, block/filter unwanted traffic and detect fraud activities.</p>
          <a href="/contactUs"><button class="buttondemo" style="margin-top: 40px;"><span>Get Started with Offershub</span></button></a>
      </div>
    </div>

    <%- include('partials/trial') -%>

  </main>
  <%- include('partials/footer') -%>
</body>

</html>