<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="ecom">
      <img src="/img/affiliate.png" alt="" style="height: 400px;">
      <div class="main-contain">
        <h1 style="font-size: 50px;">Affiliate Network</h1>
        <p> Manage all your affiliates, advertisers, campaigns, creatives and invoicing in one place. OffersHub allows you to monitor whole of your network activities in real-time.</p>
          <a href="/contactUs"><button class="buttondemo" style="margin-top: 40px;"><span>Get Started with Offershub</span></button></a>
      </div>
    </div>

    <%- include('partials/trial') -%>

  </main>
  <%- include('partials/footer') -%>
</body>

</html>