<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="ecom">
      <img src="/img/agencies.png" alt="" style="height: 400px;">
      <div class="main-contain">
        <h1 style="font-size: 50px;">Agencies</h1>
        <p>With OffersHub, agencies can manage all of their publisher and advertiser sources with available campaigns in one dashboard. Agencies can monitor all the stats and transactions that's happening between publishers and advertisers in real-time.</p>
          <a href="/contactUs"><button class="buttondemo" style="margin-top: 40px;"><span>Get Started with Offershub</span></button></a>
      </div>
    </div>

    <div class="trial-container">
      <div class="trial">
        <div class="trial1 block">
          <h3>Start Your Affiliate Network Today</h3>
          <p>Launch your affiliate network with OffersHub—track, boost conversions, and grow revenue effortlessly.
          </p>
          <a href="/contactUs"><button class="button"><span>Try it for free now!</span></button></a>
        </div>
        <div class="trial2 block">
          <h3>Schedule Demo with Our Experts</h3>
          <p>Book a demo with our experts to explore powerful features and maximize your affiliate growth.</p>
          <a href="/demo"><button class="button"><span>Book a demo</span></button></a>
        </div>
      </div>
    </div>

  </main>
  <%- include('partials/footer') -%>
</body>

</html>