<html>
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>

    <a href="" id="latest" style="display: flex;justify-content: center;align-items: center;">
      <img src="" alt="" id="latest_blog" style="width: 80%;box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);border-radius: 12px;">
    </a>

    <div class="container1">
      <div class="header1">Product Updates,News and Articles</div>
      <div class="stories" id="blogs"></div>
    </div>
  </main>
  <%- include('partials/footer') -%>

  <script>
    document.addEventListener("DOMContentLoaded", async (event) => {
      let blogs = await fetch('/content/get/all?type=blog')
      blogs = await blogs.json()
      document.getElementById('latest_blog').src = blogs.data[0].cover_image;
      document.getElementById('latest').href = '/blog/' + blogs.data[0]._id;

      document.getElementById('latest_blog').addEventListener('error', function() {
        document.getElementById('latest_blog').src = 'https://web25.offershub.com' + blogs.data[0].cover_image;
      });
      document.getElementById('latest').addEventListener('error', function() {
        document.getElementById('latest').href = 'https://web25.offershub.com/blog/' + blogs.data[0]._id;
      });


      console.log(blogs.data[0]._id);


      if (blogs.status) {
        for (let blog of blogs.data) {
          if (blog.isPublished === true) {
            document.getElementById('blogs').innerHTML += `<div class="story">
                <a href="/blog/${blog._id}"><img src="${blog.cover_image}" alt="blog-${blog._id}" onerror="if (this.src != 'https://web25.offershub.com${blog.cover_image}') this.src = 'https://web25.offershub.com${blog.cover_image}';"></a>
                 <p class="date">Tips & Guides - ${convertTime(blog.createdAt)}</p>
                <p><a href="/blog/${blog._id}" class="title">${blog.title}</a></p>
                <p>${blog.category}</p>
                </div>`
          }
        }
      } else {
        document.getElementById('blogs').innerHTML = 'No Blog'
      }
    });
  </script>
  <script src="/js/timeConvert.js"></script>
</body>

</html>