<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <div class="content">
      <h1>Complete 2-Way APIs for All Your <br> Integration Needs</h1>
      <p class="padding">Connect with your advertisers, publishers, 3rd party systems, apps or your internal systems <br>with OffersHub APIs</p>
    </div>
    <div class="image-content">
      <div class="half">
        <img src="/img/api.png" alt="" height="200" width="200">
        <p><strong>Network API</strong><br><br>Helps you seamlessly integrate your platform with internal systems and third-party service providers like fraud detection tools, BI platforms, and other essential services.</p>
      </div>
      <div class="half">
        <img src="/img/api2.png" alt="" height="200" width="200">
        <p><strong>Publisher API</strong><br><br>Assists your publishers in efficiently fetching available campaigns and detailed reports into their internal systems, streamlining their workflow for improved campaign management.</p>
      </div>
      <div class="half">
        <img src="/img/api3.png" alt="" height="200" width="200">
        <p><strong>Advertiser API</strong><br><br>Enables your advertisers to effortlessly connect their systems with yours, allowing them to manage campaigns, synchronize settings, and optimize their advertising efforts with minimal effort.</p>
      </div>
      <div class="half">
        <img src="/img/api4.png" alt="" height="200" width="200">
        <p><strong>Data Stream</strong><br><br>OffersHub’s cloud-based real-time data stream provides fully automated event delivery, enabling customers to instantly receive live impressions, conversions, and clicks for deep analysis in BI tools.</p>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>