<html>
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>
    <div id="data"></div>

    <!-- free trial container -->
    <%- include('partials/trial') -%>

    <div class="container2">
      <div class="header2">Recent Blogs</div>
      <div class="stories" id="recent_blogs"></div>
    </div>
  </main>

  <%- include('partials/footer') -%>

  <script>
    document.addEventListener("DOMContentLoaded", async (event) => {
      let pathName = location.pathname;
      pathName = pathName.split('/')
      const contentId = pathName[pathName.length - 1]
      let blog = await fetch(`/content/get/${contentId}`)
      blog = await blog.json()
      console.log(blog)
      document.getElementById('data').innerHTML = blog.data.content
      document.getElementById('title').innerHTML = blog.data.title

      let blogs = await fetch('/content/get/all?type=blog')
      blogs = await blogs.json()
      console.log(blogs)

      if (blogs.status) {
        blogs = blogs.data.slice(0, 3)
        for (let blog of blogs) {
          if (blog.isPublished === true) {
            document.getElementById('recent_blogs').innerHTML += `<div class="story">
                <img src="${blog.cover_image}" alt="blog-${blog._id}" onerror="if (this.src != 'https://placehold.co/1200x400') this.src = 'https://placehold.co/1200x400';">
                <p class="date">${convertTime(blog.createdAt)}</p>
                <p><a href="/blog/${blog._id}" class="title">${blog.title}</a></p>
                <p>${blog.category}</p>
                <div class="read"><a href="/blog/${blog._id}" class="title">Read more</a></div></div>`
          }
        }
      } else {
        document.getElementById('blogs').innerHTML = 'No Blog'
      }
    })
  </script>
  <script src="/js/timeConvert.js"></script>
</body>

</html>