<html>
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>
    <div id="data"></div>

    <!-- free trial container -->
    <%- include('partials/trial') -%>

    <div class="container2">
      <div class="header2">Recent Stories</div>
      <div class="stories" id="recent_stories"></div>
    </div>
  </main>

  <%- include('partials/footer') -%>

  <script>
    document.addEventListener("DOMContentLoaded", async (event) => {
      let pathName = location.pathname;
      pathName = pathName.split('/')
      const contentId = pathName[pathName.length - 1]
      let caseStudy = await fetch(`/content/get/${contentId}`)
      caseStudy = await caseStudy.json()
      console.log(caseStudy)
      document.getElementById('data').innerHTML = caseStudy.data.content
      document.getElementById('title').innerHTML = caseStudy.data.title

      let recentSuccessStories = await fetch('/content/get/all?type=case-study')
      recentSuccessStories = await recentSuccessStories.json()
      console.log(recentSuccessStories)

      if (recentSuccessStories.status) {
        recentSuccessStories = recentSuccessStories.data.slice(0, 3)
        for (let story of recentSuccessStories) {
          if (story.isPublished === true) {
            document.getElementById('recent_stories').innerHTML += `<div class="story">
                <img src="${story.cover_image}" alt="blog-${story._id}" onerror="if (this.src != 'https://placehold.co/1200x400') this.src = 'https://placehold.co/1200x400';">
                <p class="date">${convertTime(story.createdAt)}</p>
                <p><a href="/case-study/${story._id}" class="title">${story.title}</a></p>
                <p>${story.category}</p>
                <div class="read"><a href="/case-study/${story._id}" class="title">Read more</a></div></div>`
          }
        }
      } else {
        document.getElementById('recent_stories').innerHTML = '<div class="story"><p>No Story<p></div>'
      }
    })
  </script>
  <script src="/js/timeConvert.js"></script>
</body>

</html>