<html>
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <a href="" id="latest" style="display: flex;justify-content: center;align-items: center;">
      <img src="" alt="" id="latest_blog" style="width: 85%;box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);border-radius: 12px;">
    </a>

    <div class="container1">
      <div class="header1">Success Stories</div>
      <div class="stories" id="caseStudy"></div>
    </div>
  </main>
  <%- include('partials/footer') -%>

  <script>
    document.addEventListener("DOMContentLoaded", async (event) => {
      let caseStudy = await fetch('/content/get/all?type=case-study')
      caseStudy = await caseStudy.json()
      document.getElementById('latest_blog').src = caseStudy.data[0].cover_image;
      document.getElementById('latest').href = '/case-study/' + caseStudy.data[0]._id;

      document.getElementById('latest_blog').addEventListener('error', function() {
        document.getElementById('latest_blog').src = 'https://web25.offershub.com' + caseStudy.data[0].cover_image;
      });
      document.getElementById('latest').addEventListener('error', function() {
        document.getElementById('latest').href = 'https://web25.offershub.com/case-study/' + caseStudy.data[0]._id;
      });

      if (caseStudy.status) {
        for (let caseS of caseStudy.data) {
          if (caseS.isPublished === true) {
            document.getElementById('caseStudy').innerHTML += `<div class="story">
                <a href="/case-study/${caseS._id}"><img src="${caseS.cover_image}" alt="caseStudy-${caseS._id}" onerror="if (this.src != 'https://placehold.co/1200x400') this.src = 'https://placehold.co/1200x400';"></a>
                <p class="date">Story - ${convertTime(caseS.createdAt)}</p>
                <p><a href="/case-study/${caseS._id}" class="title">${caseS.title}</a></p>
                <p>${caseS.category}</p></div>`
          }
        }
      } else {
        document.getElementById('caseStudy').innerHTML = '<div class="story"><p>No Story<p></div>'
      }
    });
  </script>
  <script src="/js/timeConvert.js"></script>
</body>

</html>