<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') -%>

<body>
    <%- include('partials/header') -%>
    <%- include('partials/chatbot') -%>
    <!-- <%- include('partials/totop') -%> -->
    <!-- <%- include('partials/loader') -%> -->
     <main>
        <div class="home-container">

            <div class="home-contain">
              <div style="width: 50%;">
                <h1 class="block">One Platform, Endless Possibilities</h1>
                <p>No matter what the use case is, <b>we aim to solve our customers toughest challenges</b> and help them create meaningful digital experiences.</p>
                <div class="buttons">
                  <button class="button1" ><span><i class="fa fa-money"></i> Start Earning Now</span></button>
                  <button class="button1" ><span><i class="fa fa-comment"></i> Connect with Us</span></button>
                </div>
              </div>
              <div class="video-container block">
                <img src="/img/webloader.png" alt="" height="500" >
              </div>
            </div>
          </div>
     </main>
</body>
</html>