<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>
    <h1 class="center" style="color: #004DA5;font-size: 40px;">Talk to our Expert</h1>
    <div class="form-wrapper">
      <img src="/img/contact.png" alt="" width="100">
      <form action="">
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div class="label-text" style="width: 47%;">
            <label for="">First Name<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
          <div class="label-text"  style="width: 47%;">
            <label for="">Last Name<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
        </div>
        <div class="label-text">
          <label for="">Company Name<i class="fa fa-asterisk"></i></label>
          <input type="text">
        </div>
        <div class="label-text">
          <label for="">Website Url</label>
          <input type="text">
        </div>
        <div class="label-text">
          <label for="">Email<i class="fa fa-asterisk"></i></label>
          <input type="text" placeholder="Business emails only">
        </div>
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div class="label-text" style="width: 47%;">
            <label for="">Contact Number<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
          <div class="label-text" style="width: 47%;">
            <label for="">Messenger type<i class="fa fa-asterisk"></i></label>
            <select>
              <option value="Skype">Skype</option>
              <option value="Whatsapp">Whatsapp</option>
              <option value="Telegram">Telegram</option>
            </select>
          </div>
        </div>
        <div class="label-text">
          <label for="">Message</label>
          <textarea name="" id=""></textarea>
        </div>
        <button class="submit">Submit</button>
      </form>
    </div>

    <h1 class="center" style="color: #004DA5;font-size: 50px;text-align: left;width: 75%;margin: auto;font-weight: 400;">Office Locations</h1>

    <div class="map">
      <div class="imap block">
        <img src="/img/map1.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub HQ</h3>
          <p>1482/3C-1, Hokanda Rd, Pannipitya, Colombo, 10230, Sri Lanka</p>
        </div>
      </div>
      <div class="imap block">
        <img src="/img/map1.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub USA</h3>
          <p>315 Montgomery Street,San Francisco,California, 94104, USA</p>
        </div>
      </div>
      <div class="imap block">
        <img src="/img/map1.jpeg" alt="">
        <div class="sub-map">
          <h3>OffersHub India</h3>
          <p>UG-06, MGF Metropolis Mall, Sector 28, MG Road, Gurugram , Haryana, India 122002</p>
        </div>
      </div>
    </div>

    <!-- free trial container -->
    <div class="trial-container">
      <div class="trial">
        <div class="trial1 block">
          <h3>Start Your Affiliate Network Today</h3>
          <p>Launch your affiliate network with OffersHub—track, boost conversions, and grow revenue effortlessly.
          </p>
          <button class="button"><span>Try it for free now!</span></button>
        </div>
        <div class="trial2 block">
          <h3>Schedule Demo with Our Experts</h3>
          <p>Book a demo with our experts to explore powerful features and maximize your affiliate growth.</p>
          <button class="button"><span>Book a demo</span></button>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>