<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main class="only-img">
    <img src="/img/datastream.png" alt="">
    <button class="getbutton">Contact Us &nbsp; <i class="fa fa-long-arrow-right"></i></button>

    <div class="price-container center">
      <div>
        <u><h2>Fully Automated Event Delivery Solution</h2></u><br>
        <p>OffersHub’s cloud real-time data stream puts the power of fully automated event delivery in your hands which allows customers to receive a live events stream of their impressions, conversions and clicks. This enables our customers to grab all the data in real-time in their BI tools for analysis.</p>
      </div>
      </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>