<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>
    <h1 class="center" style="color: #004DA5;font-size: 32px;">Sign Up and Get 15-days Free Trial</h1><br>
    <h3 class="center" style="color: black;font-size: 24px;">Try OffersHub for 15 days! No credit card required.</h3>
    <div class="form-wrapper">
      <div style="width: 25%;">
        <!-- <img src="/img/offershublogo.png" alt=""> -->
        <h4>Offershub Shines in G2 Winter 2025 Awards!</h4>
        <p style="font-size: 14px;margin-bottom: 20px;">"OffersHub helped businesses boost their revenue by 300% through advanced affiliate tracking. With a focus on performance-driven partnerships, real-time insights, and seamless automation, OffersHub ensures maximum ROI and sustainable growth for its clients."</p>
        <img src="/img/badge1.png" alt="" height="100">
        <img src="/img/badge3.png" alt="" height="100">
        <img src="/img/badge5.png" alt="" height="100">
      </div>
      <form action="">
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div class="label-text" style="width: 47%;">
            <label for="">First Name<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
          <div class="label-text" style="width: 47%;">
            <label for="">Last Name<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
        </div>
        <div class="label-text">
          <label for="">Email<i class="fa fa-asterisk"></i></label>
          <input type="text" placeholder="Business emails only">
        </div>
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div class="label-text" style="width: 47%;">
            <label for="">Contact Number<i class="fa fa-asterisk"></i></label>
            <input type="text">
          </div>
          <div class="label-text" style="width: 47%;">
            <label for="">Country<i class="fa fa-asterisk"></i></label>
            <select>
              <option value="Skype">Skype</option>
              <option value="Whatsapp">Whatsapp</option>
              <option value="Telegram">Telegram</option>
            </select>
          </div>
        </div>
        <div class="label-text">
          <label for="">Company Name<i class="fa fa-asterisk"></i></label>
          <input type="text">
        </div>
        <div class="label-text">
          <label for="">Website Url</label>
          <input type="text">
        </div>
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div class="label-text" style="width: 47%;">
            <label for="">IM type</label>
            <select>
              <option value="Skype">Skype</option>
              <option value="Whatsapp">Whatsapp</option>
              <option value="Telegram">Telegram</option>
            </select>
          </div>
          <div class="label-text" style="width: 47%;">
            <label for="">IM ID<i class="fa fa-asterisk"></i></label>
            <input type="text" placeholder="Eg: Skype ID">
          </div>
        </div>
        <div class="label-text">
            <label for="">Terms & Conditions<i class="fa fa-asterisk"></i></label>
            <p><input type="radio"> I agree to the Privacy Policy and Master Services Agreement</p>
            <p><input type="radio"> Subscribe to newsletters and Whatsapp?</p>
          </div>
        <button class="submit">Request Demo</button>
      </form>
    </div>
  </main>

  <%- include('partials/footer') -%>

</body>

</html>