<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="home-container" style="background-color: #d9eeff;width: 90%;margin: auto;border-radius: 50px;">
      <div class="home-contain" style="text-align: center;width: 65%;margin: auto;">
        <div>
          <h1 class="block">Fully Automated E-Commerce Tracking</h1>
          <p>Affiliate marketing connects a business that has a product to sell with a marketer who can sell it. Affiliate marketing is performance based. You only have to pay when affiliates deliver a specified customer action. In the ecommerce context, this action is typically an online purchase, which makes affiliate marketing very cost effective.<br>
            With OffersHubs fully automated system which comes bundled with many features including clickless tracking, your e-commerce affiliate tracking would be simplified to the maximum potential which you would have not even seen till you tried using our platform.</p>
          <div class="buttons" style="justify-content: center;flex-direction: column; width: fit-content;margin: auto;gap: 1px;">
            <button class="button" style="padding: 1rem 4rem;"><span>Talk to the Expert</span></button>
            <button class="button1" style="padding: 1rem 4rem;font-size: 20px;"><span><i class="fa fa-comment"></i> Connect with Us</span></button>
          </div>
        </div>

      </div>
    </div>

    <!-- <img src="/img/e-commercetracking.png" alt=""> -->

    <div style="color: black;display: flex;justify-content: space-between;align-items: center;width: 65%;margin:100px auto;padding: 2px;">
      <div style="width: 40%;">
        <h1 style="font-size: 50px;">Affiliate Marketing for E-Commerce</h1>
        <p> Allow your affiliates to promote your
          products and make them generate sales
          and use our platform to help you track
          sales and provide relevant affiliate
          commissions and so on.</p>
          <button class="buttondemo" style="margin-top: 40px;"><span>Get Started with Offershub</span></button>
      </div>
      <img src="/img/ecommerce.png" alt="" style="height: 400px;">
    </div>

    <div class="trial-container">
      <div class="trial">
        <div class="trial1 block">
          <h3>Start Your Affiliate Network Today</h3>
          <p>Launch your affiliate network with OffersHub—track, boost conversions, and grow revenue effortlessly.
          </p>
          <button class="button"><span>Try it for free now!</span></button>
        </div>
        <div class="trial2 block">
          <h3>Schedule Demo with Our Experts</h3>
          <p>Book a demo with our experts to explore powerful features and maximize your affiliate growth.</p>
          <button class="button"><span>Book a demo</span></button>
        </div>
      </div>
    </div>

  </main>
  <%- include('partials/footer') -%>
</body>

</html>