<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main class="only-img">
    <img src="/img/e-commercetracking.png" alt="">
    <button class="getbutton">Try Free Trial &nbsp; <i class="fa fa-long-arrow-right"></i></button>

    <div class="price-container center">
      <div>
        <u><h2>Fully Automated E-Commerce Tracking</h2></u><br>
        <p>Affiliate marketing connects a business that has a product to sell with a marketer who can sell it. Affiliate marketing is performance based. You only have to pay when affiliates deliver a specified customer action. In the ecommerce context, this action is typically an online purchase, which makes affiliate marketing very cost effective.</p><br>
        <p>With OffersHubs fully automated system which comes bundled with many features including clickless tracking, your e-commerce affiliate tracking would be simplified to the maximum potential which you would have not even seen till you tried using our platform.</p>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>