<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="home-container" style="background-color: #c7edff;width: 90%;margin: auto;border-radius: 50px;">
      <div class="home-contain">
        <div class="main-contain">
          <!-- <h5>&#x2728; Best Tracking Software</h5> -->
          <h1 class="block">Maximize your affiliate marketing success with Offershub's advanced tracking and optimization platform.</h1>
          <p>100s of Worlds Leading Affiliate Networks use OffersHub</p>
          <div class="buttons">
            <a href="/demo"><button class="button1" ><span>Request Demo</span></button></a>
            <a href="/contactUs"><button class="button1" ><span><i class="fa fa-comment"></i> Talk to an Expert</span></button></a>
          </div>
        </div>
        <div class="video-container block">
          <img src="/img/flowchart.png" alt="" height="500" >
        </div>
      </div>
    </div>

    <h2 class="pcontent block">Our Features</h2>

    <div class="image-container" style="color:black;background: none;">
      <div class="feature-container">
        <div class="column">
          <div class="features">
            <div class="feature-number feature-number-01">
              01
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Complete Partner Management Solutions
              </div>
              <div class="feature-description">
                Manage advertisers, publishers, and campaigns; track performance, prevent fraud, and handle billing.
              </div>
            </div>
          </div>
          <div class="features">
            <div class="feature-number feature-number-02">
              02
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Smart Tracking Links
              </div>
              <div class="feature-description">
                AI-powered smart links maximize revenue by directing clicks to the most profitable offers.
              </div>
            </div>
          </div>
          <div class="features">
            <div class="feature-number feature-number-03">
              03
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Smart Integrations
              </div>
              <div class="feature-description">
                One-click sync connects to 1000+ networks, automatically updating imported campaigns from remote sources.
              </div>
            </div>
          </div>
        </div>
    
        <div>
          <img alt="Graph icon" src="/img/graph.png" height="500" width="500" />
        </div>
    
        <div class="column">
          <div class="features">
            <div class="feature-number feature-number-04">
              04
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Real-time Reporting
              </div>
              <div class="feature-description">
                Real-time reporting and analytics help monitor networks, reducing losses and boosting revenue.
              </div>
            </div>
          </div>
          <div class="features">
            <div class="feature-number feature-number-05">
              05
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Robust APIs
              </div>
              <div class="feature-description">
                OffersHub's 2-way APIs enable seamless integration for networks, publishers, and advertisers.
              </div>
            </div>
          </div>
          <div class="features">
            <div class="feature-number feature-number-06">
              06
            </div>
            <div class="feature-text">
              <div class="feature-title">
                Reliable, Secure and Globally Distributed Tracking
              </div>
              <div class="feature-description">
                OffersHub guarantees security and compliance with 99.999% SLA and global data centers.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="privacy-content feature">
      <div class="left-content">
        <p>Table Of Content</p>
        <ul>
          <a href="#feature1">
            <li>Campaign Management</li>
          </a>
          <a href="#feature2">
            <li>Fraud Control & Alerting</li>
          </a>
          <a href="#feature3">
            <li>Affiliate Management</li>
          </a>
          <a href="#feature4">
            <li>Advertiser Management</li>
          </a>
          <a href="#feature5">
            <li>Reporting</li>
          </a>
          <a href="#feature6">
            <li>Billing</li>
          </a>
          <a href="#feature7">
            <li>Scalability & Reliability</li>
          </a>
          <a href="#feature8">
            <li>System Management</li>
          </a>
        </ul>
      </div>
      <div class="right-content">
        <p class="padding heading" id="feature1"><strong>Campaign Management</strong>
        <ul>
          <li><strong>Offer Access Control</strong>:- Control which affiliate have access to your offers by settings access status to Public, Required Approval or Private.</li>
          <li><strong>Smart Links & Groups</strong>:- Group your offers and generate one tracking link which will act as an AI powered smart link.</li>
          <li><strong>Multiple Landing URLs</strong>:- For a single campaign, you can have multiple landing page URLs and you can redirect traffic to different landing URLs by defining targeting rules such as country or device.</li>
          <li><strong>Block Affiliates/ Sub-Affiliates</strong>:- Sometimes you may want to block all the traffic getting to a specific offer from some affiliates who send fraudulent or low quality traffic. In that case, you can use block affiliate/sub affiliates feature to block those.</li>
          <li><strong>Offer Caps Management</strong>:- Apply specific caps to your offers by the amount conversions, revenue or payout by daily, monthly or total basis. You can also define specific caps by affiliate as well.</li>
          <li><strong>Offer Creatives</strong>:- Upload,share and manage offer creatives. Let your affiliates upload creatives for your approval.</li>
          <li><strong>Dynamic Payouts</strong>:- Pay different payout/revenue amounts for a single offer by using advanced payout groups. You can setup different payout amounts by country, device, affiliate, sub affiliate.</li>
          <li><strong>Offer Events</strong>:- Have multiple events for a single offer and payouts according to that. Such as for installation event, registration event, etc.</li>
          <li><strong>Multiple Payout Models</strong>:- We support CPA, CPI, CPL, CPS & CPC payout models. We also support offers with dynamic payout/revenue amounts.</li>
          <li><strong>Live Stats Monitor</strong>:- With OffersHub real-time dashboard, you can monitor all the system events (clicks, conversions) with live charts. You can also monitor live stats by specific offer or affiliate.</li>
          <li><strong>Advanced Targeting & Traffic Filtering</strong>:- More than 20 options to define your offer targeting such as country, mobile network, os, device type, gender basis etc and OffersHub will filter traffic according to that and you will not charge for blocked traffic.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature2"><strong>Fraud Control & Alerting</strong>
        <ul>
          <li><strong>Built in Fraud Protection</strong>:- OffersHubs built in fraud detection system continuously monitors each of your conversions for frauds and reports it back to you while blocking conversions with higher risks</li>
          <li><strong>Alert & Notifications</strong>:- We provide real-time web and email notifications for each offer changes, team actions and fraud detections.</li>
          <li><strong>3rd Party Fraud Detector Support</strong>:- We support to connect your system with 3rd party fraud detecting systems.</li>
          <li><strong>Postback Security</strong>:- IP white-listing and advertiser security code features keeps your network away from fraud postbacks.</li>
          <li><strong>Block Bots & Fraud Traffic</strong>:- OffersHubs AI continuously watches & learns about your traffic behaviors and blocks all the bots and fraud traffic.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature3"><strong>Affiliate Management</strong>
        <ul>
          <li><strong>Self Service Dashboard</strong>:- Affiliate can signup with you themselves and access the offers and reports using their dashboard.</li>
          <li><strong>Custom Payout & Caps</strong>:- You can setup specific offer caps and payouts by affiliate.</li>
          <li><strong>Alerting & Notifications</strong>:- System will alert your affiliate about any changes about offers, so you don’t have to do it manually.</li>
          <li><strong>Affiliate API</strong>:- Affiliates can connect their system with yours using OffersHub publisher API.</li>
          <li><strong>Referral Commissions</strong>:- You can reward your affiliates for referrals with referral commission system that we provide.</li>
          <li><strong>Affiliate Billing</strong>:- OffersHub offers a total billing & invoicing solution for affiliates.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature4"><strong>Advertiser Management</strong>
        <ul>
          <li><strong>Self Service Dashboard</strong>:- Advertisers can sign up with your network by themselves, create offers and manage them.</li>
          <li><strong>Advertiser API</strong>:- With OffersHub advertiser API, your advertiser can connect their system with yours.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature5"><strong>Reporting</strong>
        <ul>
          <li><strong>Live Monitor Dashboard</strong>:- With OffersHubs real-time dashboard, you can monitor all the system events (clicks, conversions) with live charts. You can also monitor live stats by specific offers or affiliates.</li>
          <li><strong>Advanced Report Configuration</strong>:- Hundreds of data points and filters helps you to get more insights from your data.</li>
          <li><strong>Adjust Stats</strong>:- Manually add or deduct conversions or clicks from the report.</li>
          <li><strong>Real-time Reporting Dashboard</strong>:- Make instant decisions with the real-time reporting system.</li>
          <li><strong>Save & Export Reports</strong>:- Save your custom report options and reuse again and again. You can also export your reports as CSV or Excel files.</li>
          <li><strong>Event Tracer</strong>:- Event tracer helps you to explore all the traffic/postback logs and detect issues.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature6"><strong>Billing</strong>
        <ul>
          <li><strong>Billing Profile Management</strong>:- Manage your affiliates billing data and payment details.</li>
          <li><strong>Crypto Currency Support</strong>:- Do your advertisers pay by crypto currencies such as Bitcoin, or do you want to offer affiliate payments in crypto currencies? Don’t worry, we got you covered.</li>
          <li><strong>Invoice Auto Generation</strong>:- System will automatically generate invoices for you.</li>
          <li><strong>Multi currency support</strong>:- You can send invoices with multiple currencies according to campaigns promoted by affiliates to avoid floating conversion rate issues.</li>
          <li><strong>Manual Invoicing</strong>:- Create invoices manually and manage.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature7"><strong>Scalability & Reliability</strong>
        <ul>
          <li><strong>APIs</strong>:- APIs Robust 2-Way APIs for publishers, advertisers and admins.</li>
          <li><strong>Reliable</strong>:- We stand behind our service with an industry leading 99.999% SLA available on selected plans with a 1000x rebate policy.</li>
          <li><strong>Secure</strong>:- Soc 3 & GDPR approved. OffersHub is committed to delivering a highly secure and compliant environment for our customers.</li>
          <li><strong>Scalable</strong>:- Global scale, 10+ data centers on 4 continents to ensure a consistent tracking experience for every customers.</li>
        </ul>
        </p>
        <p class="padding heading" id="feature8"><strong>System Management</strong>
        <ul>
          <li><strong>Branding</strong>:- Get the total control of your dashboard and manage themes, looks & feel.</li>
          <li><strong>Mailer</strong>:- Mailer helps you to mass email your team, affiliate or advertisers with filtering supports. For example, you can email all the affiliates who were inactive last the 30 days at once.</li>
          <li><strong>Custom Domains</strong>:- Use your own domain to access the dashboard, allows you to have multiple custom domains for tracking and assign them to specific offers or affiliates.</li>
          <li><strong>Team Management</strong>:- Manage your team permissions easily. Predefined rolls available as well as with manual permission setup options for advanced use cases.</li>
        </ul>
        </p>
      </div>
    </div>

  <!-- free trial container -->
  <%- include('partials/trial') -%>

  </main> 
  <%- include('partials/footer') -%>
</body>

</html>