<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main class="home">
    <div class="color">
      <p class="new">Advanced Tracking Solution To Drive Your Marketing Performance With 15 Days Free Trial !</p>
      <p class="new1 padding">Revolutionize Your Online Ad Campaigns With Ultimate Solution for Affiliate Networks, Advertisers, Agencies, E-commerce, and Media Buyers</p>
      <div class="buttons">
        <button class="getbutton">Request Demo <i class="fa fa-long-arrow-right"></i></button>
        <button class="plainbutton">Contact Us <i class="fa fa-long-arrow-right"></i></button>
      </div>
      <div class="video-container">
        <img src="/img/panel.gif" alt="" style="width: 90%;margin: 30px 0px;">
      </div>
    </div>
    <div class="color2">
      <h2 class="center">200+ COMPANIES USE OFFERSHUB FOR GROWTH</h2>
      <div class="images">
        <img src="/img/company1.png" alt="">
        <img src="/img/company3.png" alt="">
        <img src="/img/company4.png" alt="">
        <img src="/img/company5.png" alt="">
        <img src="/img/company6.png" alt="">
        <img src="/img/company7.png" alt="">
        <img src="/img/company8.png" alt="">
      </div>
    </div>
    <div class="google-container">
      <div class="google">
        <h1>OffersHub is now a Google certified Click Tracker</h1>
        <p>Enjoy highly accurate click attribution and transparent redirection</p>
        <button class="getbutton">Get Started <i class="fa fa-long-arrow-right"></i></button>
      </div>
    </div>
    <div class="performance">
      <h1>Take Your Performance Marketing Beyond Limits</h1>
      <section class="box-container">
        <div class="box">
          <h2>Manage</h2>
          <img src="/img/img1.gif" alt="">
          <p>Manage all of your advertisers, affiliates, offers/campaigns, automated billing and invoicing in one place.</p>
        </div>
        <div class="box">
          <h2>Track</h2>
          <img src="/img/img2.gif" alt="">
          <p>Track and analyze impressions, clicks and conversions in real time. We support CPC, CPM, CPA, CPI, CPL, CPS campaign types</p>
        </div>
      </section>
      <section class="box-container">
        <div class="box">
          <h2>Analyze & Predict</h2>
          <img src="/img/img3.gif" alt="">
          <p>Get deep insights of your network performance including modern AI-powered predictions in real time.</p>
        </div>
        <div class="box">
          <h2>Detect</h2>
          <img src="/img/img4.gif" alt="">
          <p>Comes with the best-in-industry fraud detection system. AI-powered log analytics and alerts help you to keep everything under your watch.</p>
        </div>
      </section>
      <section class="box-container">
        <div class="box">
          <h2>Integrate</h2>
          <img src="/img/img5.gif" alt="">
          <p>Complete 2-Way APIs for All Your Custom Integration Needs + Inbuilt integration system to directly fetch and sync campaigns and data from 1000+ ad networks.</p>
        </div>
        <div class="box">
          <h2>Scale</h2>
          <img src="/img/img6.gif" alt="">
          <p>With OffersHub Cloud, just pay for what you use, we will take care of the rest. Or, with OffersHub on premise, keep data and scale in your own servers.</p>
        </div>
      </section>
    </div>
    <h1 class="padding center">We will make it easy for you!</h1>
    <div style="display: flex;justify-content: center;align-items: center;gap: 30px;">
      <div class="card card1">
        <img src="/img/hand.png" alt="">
        <h4>Smooth and step-by-step Onboarding</h4>
        <p>Demo sessions with Onboarding managers, day-to-day emails and an up-to-date knowledge base, and a weekly newsletter helps in smooth onboarding of customers.</p>
      </div>
      <div class="card card2">
        <img src="/img/call.png" alt="">
        <h4>24X7 support through Phone, Whatsapp, Skype and Email</h4>
        <p>Support through email, phone, WhatsApp, or Skype, and a team of customer support managers with you who will help you at every turn.</p>
      </div>
      <div class="card card3">
        <img src="/img/message.png" alt="">
        <h4>Continuous Interaction with Customers</h4>
        <p>Regular meetings with our existing customers help to build strong relationships, and mutual understanding and make the platform more comfortable for them.</p>
      </div>
      <div class="card card4">
        <img src="/img/help.png" alt="">
        <h4>Committed Customer Success Manager</h4>
        <p>A dedicated customer success manager who will assist with familiarising the panel, testing postbacks, integrating the API and other activities as well.</p>
      </div>
    </div>
    <h2 class="center">Award winning platform endorsed by affiliate marketing experts</h2>
    <div class="price-container padding">
      <div class="expert1">
        <h2>Spotlight on Elite Achievements</h2>
        <p>Celebrating our Distinctions: Software Suggest Best Support Winter 2024, G2 High Performance Spring 2024,
          Software Suggest Customer Choice Winter 2024, G2 High Performance India Spring 2024, Software Suggest Highest Satisfaction 2024</p>
      </div>
      <div class="badge-container">
        <img src="/img/badge1.png" alt="">
        <img src="/img/badge2.png" alt="">
        <img src="/img/badge3.png" alt="">
        <img src="/img/badge4.png" alt="">
        <img src="/img/badge5.png" alt="">
      </div>
    </div>
    <div style="margin:50px 0px;">
      <h1 class="center padding">TRUSTED & LOVED</h1>
      <div class="counter-container">
        <div class="counter" id="counter1">
          Trusted By <br>
          <span id="count1">1</span> <br>
          Of Networks
        </div>
        <div class="counter" id="counter2">
          Customer satisfaction <br>
          <span id="count2">1%</span> <br>
          with our service
        </div>
        <div class="counter" id="counter3">
          Serving <br>
          <span id="count3">1</span> <br>
          Events / Month
        </div>
      </div>
    </div>
    <h1 class="padding center">Client Feedback</h1>
    <div class="testimonial-container">
      <div class="testimonial-contain">
        <div class="logos">
          <img alt="logo" src="/img/company3.png" data-testimonial-id="1" />
          <img alt="logo" src="/img/company8.png" data-testimonial-id="2" />
          <img alt="logo" src="/img/company6.png" data-testimonial-id="3" />
          <img alt="logo" src="/img/company7.png" data-testimonial-id="4" />
          <img alt="logo" src="/img/company4.png" data-testimonial-id="5" />
        </div>
        <div class="buttons">
          <button class="arrow" id="prev">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button class="arrow" id="next">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="testimonial">
        <div class="testimonial-text">
          <p id="testimonial-text">"Offershub is presently the market's top software platform. It is unbeatable due to
            the variety of
            features included and the pricing structure. It is a more reliable and effective tool thanks to
            the customised features provided by the team."</p>
          <p class="author" id="testimonial-author">Amit Gandhi, FOUNDER & CEO (TATADZ)</p>
          <a class="cta-button" href="#" id="see-all-customers">Now You Can Also Join With Us →</a>
        </div>
        <div class="testimonial-image">
          <img alt="Testimonial Image" id="testimonial-image" src="/img/testimonial1.png" height="200" width="200" />
        </div>
      </div>
    </div>
    <div class="get">
      <h2 class="pcontent">Start your affiliate network today,<br>or migrate existing</h2>
      <button class="getbutton">Get Started - It's Free</button>
    </div>
  </main>
  <%- include('partials/footer') -%>
  <script src="/js/counter.js"></script>
</body>

</html>