<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <style>
    .container2 {
      overflow-x: auto;
      width: 90%;
    }

    .stories {
      display: flex;
      flex-wrap: nowrap;
    }

    .container2::-webkit-scrollbar {
      display: none;
    }

    .stories>* {
      width: 370px;
    }

    .story img {
      object-fit: fill;
    }

    @media(max-width:1285px) {
      .stories {
        justify-content: flex-start;
        display: flex;
      }
    }

    @media(max-width:1092px) {
      .story img {
        height: 150px;
      }
    }

    @media(max-width: 882px) {
      .container2 {
        overflow: visible;
        width: 80%;
      }

      .stories {
        display: block;
        flex-wrap: wrap;
      }

      .stories>* {
        width: auto;
      }

      .story img {
        object-fit: cover;
        height: auto;
      }
    }
  </style>

  <main class="home">

    <!-- top container -->
    <div class="home-container">
      <div class="home-contain" style="width: 90%;">
        <div class="main-contain">
          <h1 class="block"><span class="highlight">Boost Marketing</span> <br>Performance with<br> Offershub Tracking!</h1>
          <p>Revolutionize Your Online Ad Campaigns With Ultimate Solution for <b>Affiliate
              Networks, Advertisers, Agencies, E-commerce, and Media Buyers</b></p>
          <div class="buttons">
            <a href="/demo"><button class="button1 extra"><span>Request Demo</span></button></a>
            <a href="/https://calendly.com/palak-5acl/30min"><button class="button1 extra"><span>Talk to our Experts</span></button></a>
          </div>
        </div>
        <div class="video-container block">
          <img src="/img/webloader-min.png" alt="" class="indeximg" style="transition: background-position 0.5sease-in-out;">
        </div>
      </div>
    </div>

    <!-- companies displayed -->
    <div class="company-container">
      <h2 class="center">200+ COMPANIES USE OFFERSHUB FOR GROWTH</h2>
      <div class="images">
        <img src="/img/company1.png" alt="">
        <img src="/img/company3.png" alt="">
        <img src="/img/company4.png" alt="">
        <img src="/img/company5.png" alt="">
        <img src="/img/company6.png" alt="">
        <img src="/img/company7.png" alt="">
      </div>
    </div>

    <!-- success stories card container -->
    <div class="performance">
      <h1 class="center block"><span class="highlight">Real Success Stories</span>: Join OffersHub and Unlock Your Affiliate Potential!</h1>
      <p class="center block">Discover how affiliates are thriving with our powerful tracking platform. It's your
        turn to succeed!</p>

      <div class="container2">
        <div class="stories" id="recent_stories"></div>
      </div>

    </div>

    <!-- awards -->
    <div class="award-container">
      <h2 class="center block"><span class="highlight">Award winning platform</span> endorsed by affiliate marketing experts</h2>
      <h3 class="center block">Spotlight on Elite Achievements</h3>
      <div class=" padding">
        <div class="badge-container">
          <div class="badge block">
            <img src="/img/badge1.png" alt="">
            <p>Software Suggest Best Support Winter 2024</p>
          </div>
          <div class="badge block">
            <img src="/img/badge2.png" alt="">
            <p>G2 High Performance India Winter 2025</p>
          </div>
          <div class="badge block">
            <img src="/img/badge4.png" alt="">
            <p>G2 High Performance Asia Winter 2025</p> 
          </div>
          <div class="badge block">
            <img src="/img/badge6.png" alt="">
            <p>G2 Best<br> Estimate ROI Winter 2025</p>
          </div>
          <div class="badge block">
            <img src="/img/badge7.png" alt="">
            <p>G2 Easiest to do business with Winter 2025</p>
          </div>
        </div>
      </div>
    </div>

    <!-- client feedback -->
    <div class="client-container">
      <h1 class="padding center block">See why our customers are calling us their go-to choice</h1>
      <div class="testimonial-container">
        <!-- 1 -->
        <div class="testimonial">
          <img src="/img/comma.png" alt="" height="40">
          <div class="testimonial-image">
            <div class="testimonial-contain">
              <img src="/img/testimonial1.png" alt="person image" height="40">
              <p>Amit Gandhi <br><span>FOUNDER & CEO</span></p>
            </div>
            <img src="/img/company3.png" alt="company logo" height="25">
          </div>
          <div class="testimonial-content">
            <h5>Seamless Tracking and User Interface</h5>
            <p>Offershub has proven to be a game-changer for us in affiliate tracking. Its precise tracking
              capabilities and intuitive user interface have greatly streamlined our operations, providing
              outstanding value and efficiency.</p>
          </div>
          <div class="star">
            <p>4/5 Stars</p>
            <span style="color:#F5A627;">★ ★ ★ ★ ☆</span>
          </div>
        </div>

        <!-- 2 -->
        <div class="testimonial">
          <img src="/img/comma.png" alt="" height="40">
          <div class="testimonial-image">
            <div class="testimonial-contain">
              <img src="/img/testimonial3.jpeg" alt="person image" height="40">
              <p>Jalaj Gupta <br><span>FOUNDER & CEO</span></p>
            </div>
            <img src="/img/company7.png" alt="company logo" height="25">
          </div>
          <div class="testimonial-content">
            <h5>Exceptional Customer Support</h5>
            <p>What truly sets Offershub apart is its exceptional customer support. Their team consistently
              addresses our needs promptly, making us feel valued and ensuring smooth operations every step of the
              way.</p>
          </div>
          <div class="star">
            <p>5/5 Stars</p>
            <span style="color:#F5A627;">★ ★ ★ ★ ★</span>
          </div>
        </div>

        <!-- 3 -->
        <div class="testimonial">
          <img src="/img/comma.png" alt="" height="40">
          <div class="testimonial-image">
            <div class="testimonial-contain">
              <img src="/img/testimonial5.jpeg" alt="person image" height="40">
              <p>Stuti Bharti <br><span>BDM</span></p>
            </div>
            <img src="/img/company4.png" alt="company logo" height="25">
          </div>
          <div class="testimonial-content">
            <h5>Unmatched Features and Value</h5>
            <p>Offershub is currently the top software in the market. Its unbeatable features, combined with an
              effective pricing structure and customized solutions, make it the most reliable and efficient tool
              available.</p>
          </div>
          <div class="star">
            <p>5/5 Stars</p>
            <span style="color:#F5A627;">★ ★ ★ ★ ★</span>
          </div>
        </div>

      </div>
    </div>

    <!-- trusted and love -->
    <div class="trusted-container">
      <img src="/img/trusted1.png" alt="Trusted Image" class="up-down-animation">
      <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <h1 class="block">Trusted & Loved</h1>
        <div class="counter-container">
          <div class="counter" id="counter1">
            <span id="count1">1</span> <br>
            Trusted By <br>
            Of Networks
          </div>
          <div class="counter" id="counter2">
            <span id="count2">1%</span> <br>
            Customer satisfaction<br>
            with our service
          </div>
          <div class="counter" id="counter3">
            <span id="count3">1</span> <br>
            Serving<br>
            Events / Month
          </div>
          <div class="counter" style="display: flex;justify-content: center;align-items: center;">
            <img src="/img/userlove.svg" alt="" height="90">
          </div>
        </div>
        <a href="/contactUs"><button class="button1 block"><span>START FREE TRIAL</span></button></a>
      </div>
    </div>

    <!-- cards  -->
    <div class="card-container">
      <h1 class="center block">We will make it easy for you!</h1>
      <div class="cards">
        <div class="card block">
          <img src="/img/hand.png" alt="">
          <h4 class="center">Smooth and step-by-step Onboarding</h4>
          <p class="center">Demo sessions with Onboarding managers, day-to-day emails, an up-to-date knowledge
            base, and a weekly newsletter.</p>
        </div>
        <div class="card block">
          <img src="/img/call.png" alt="">
          <h4 class="center">24X7 support through Phone, Whatsapp, Skype and Email</h4>
          <p class="center">Support through email, phone, WhatsApp, or Skype, with a team of customer support
            managers to assist you.</p>
        </div>
        <div class="card block">
          <img src="/img/message.png" alt="">
          <h4 class="center">Continuous Interaction with Customers</h4>
          <p class="center">Regular meetings with customers build relationships, ensuring understanding and
            platform comfort.</p>
        </div>
        <div class="card block">
          <img src="/img/help.png" alt="">
          <h4 class="center">Committed Customer Success Manager</h4>
          <p class="center">A dedicated customer success manager assists with panel familiarization, postback
            testing, and other activities.</p>
        </div>
      </div>
    </div>

    <!-- google container -->
    <div style="background-color: #0078FF;">
      <div class="google-container">
        <div>
          <div>
            <h1 class="google block">Offershub is now a <br><span style="color: #4889F5;">G</span><span style="color: #EB4A3D;">o</span><span style="color: #FABF1D;">o</span><span style="color: #4889F5;">g</span><span style="color: #3CAB58;">l</span><span style="color: #EB4A3D;">e</span> certified Click Tracker</h1>
            <p>Enjoy highly accurate click attribution and transparent redirection</p>
          </div>
          <div style="display: flex;margin: 20px 0px;align-items: center;gap: 30px;">
            <a href="/contactUs"><button class="button"><span>Try it for free now!</span></button></a>
            <a href="/demo"><button class="button"><span>Book a demo</span></button></a>
          </div>
        </div>
        <div>
          <img src="/img/google1.png" alt="" class="up-down-animation">
        </div>
      </div>
    </div>

    <!-- free trial container -->
    <%- include('partials/trial') -%>

    <!-- blog container -->

    <div class="header2">Read Latest Blog</div>
    <div class="container2">
      <div class="stories" id="recent_blogs"></div>
    </div>


  </main>
  <%- include('partials/footer') -%>

  <script>
    document.addEventListener("DOMContentLoaded", async (event) => {

      let blogs = await fetch('/content/get/all?type=blog')
      blogs = await blogs.json()
      console.log(blogs)

      if (blogs.status) {
        blogs = blogs.data.slice(0, 3)
        for (let blog of blogs) {
          if (blog.isPublished === true) {
            document.getElementById('recent_blogs').innerHTML += `<div class="story">
                <a href="/blog/${blog._id}" class="title"><img src="${blog.cover_image}" alt="blog-${blog._id}" onerror="if (this.src != 'https://placehold.co/1200x400') this.src = 'https://placehold.co/1200x400';"></a>
                <p class="date">${convertTime(blog.createdAt)}</p>
                <p><a href="/blog/${blog._id}" class="title">${blog.title}</a></p>
                <p>${blog.category}</p></div>`
          }
        }
      } else {
        document.getElementById('recent_blogs').innerHTML = `'<div class="story"><p>No blog<p></div>'`
      }

      let recentSuccessStories = await fetch('/content/get/all?type=case-study')
      recentSuccessStories = await recentSuccessStories.json()
      console.log(recentSuccessStories)

      if (recentSuccessStories.status) {
        recentSuccessStories = recentSuccessStories.data.slice(0, 3)
        for (let story of recentSuccessStories) {
          if (story.isPublished === true) {
            document.getElementById('recent_stories').innerHTML += `<div class="story">
                <a href="/case-study/${story._id}"><img src="${story.cover_image}" alt="blog-${story._id}" onerror="if (this.src != 'https://placehold.co/1200x400') this.src = 'https://placehold.co/1200x400';"></a>
                <p class="date">${convertTime(story.createdAt)}</p>
                <p><a href="/case-study/${story._id}" class="title">${story.title}</a></p>
                <p>${story.category}</p></div>`
          }
        }
      } else {
        document.getElementById('recent_stories').innerHTML = '<div class="story"><p>No Story<p></div>'
      }
    })
  </script>
  <script src="/js/counter.js"></script>
  <script src="/js/timeConvert.js"></script>
</body>

</html>