<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main class="only-img">
    <img src="/img/influencertracking.png" alt="">
    <button class="getbutton">Try Free Trial &nbsp; <i class="fa fa-long-arrow-right"></i></button>

    <div class="price-container center">
      <div>
        <u><h2>Fully Automated Clickless Tracking</h2></u><br>
        <p>You can promote your products using a post on Instagram, YouTube series or with an influencer that is popular with users in your desired demographic (Example channels :Instagram, TikTok YouTube, Twitch podcasts, brick-and-mortar stores, billboards, magazines radio, TV and the list goes on). Simply add them as an affiliate in your OffersHub platform and create a promo code for the offer you want them to promote. Now the host or influencer can read your ad, direct users to your website, and instruct them to enter the given promo code at checkout. All conversions using this promo code will now be attributed to that affiliate without requiring link tracking.</p><br>
        <p>With clickless tracking, the promo code acts like an affiliate tracking link, letting the advertiser know exactly which influencer drove which conversion. And because promo codes are not restricted to a specific link on a website or app, they offer advertisers valuable access to scale.</p>
      </div>
      </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>