<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="home-container" style="background-color: #d9eeff;width: 90%;margin: auto;border-radius: 50px;">

      <div class="home-contain">
        <div class="main-contain">
          <h1 class="block">OffersHub Enterprise On-Premise</h1>
          <p>Manage your OffersHub platform in an On-Premise or Private Cloud environment, giving you full control over deployment and infrastructure. Customize the source code to tailor the platform to your specific needs, <b>adding new features and integrating with other systems to meet unique business requirements and enhance functionality</b>r.</p>
          <div class="buttons">
            <a href="/https://calendly.com/palak-5acl/30min"><button class="button1"><span>Talk to our Experts</span></button></a>
            <a href="/demo"><button class="button1" ><span><i class="fa fa-comment"></i> Connect with Us</span></button>
            </div></a>
        </div>
        <div class="video-container block">
          <img src="/img/onpremise.png" alt="" class="indeximg" >
        </div>
      </div>
    </div>

    <h2 class="pcontent">Advanced Enterprise Benefits</h2>

    <div class="image-content">
      <div class="half block">
        <img src="/img/premiseimg1.png" alt="" height="200" >
        <p><strong>Control</strong><br><br>In an on-premises environment, enterprises retain all their data and you are in control of what happens to it. This is recommended for customers in highly regulated regions with extra privacy concerns.</p>
      </div>
      <div class="half block">
        <img src="/img/premiseimg2.png" alt="" height="200" >
        <p><strong>Compliance</strong><br><br>Many companies face regulatory controls, such as GDPR in Europe. On-premise customers have full control over data collection and storage, ensuring compliance with industry-specific regulations and privacy concerns.</p>
      </div>
      <div class="half block">
        <img src="/img/premiseimg3.png" alt="" height="200" >
        <p><strong>Secure Affiliate Tracking</strong><br><br>OffersHub allows businesses to securely track affiliate performance while maintaining full control over sensitive data, ensuring privacy compliance and data security in highly regulated environments.</p>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>