<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <div class="content">
      <h1>OffersHub Enterprise On-Premise</h1>
      <p>Manage your OffersHub cluster in your On-Premise or Private Cloud setup. Get the flexibility <br>of customizing the source code and add your own features.</p>
    </div>
    <h2 class="pcontent">Advanced Enterprise Benefits</h2>
    <div class="image-container">
        <img src="/img/premiseimg.png" alt="">
        <img src="/img/premiseimg2.png" alt="">
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>