<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <!-- <div class="content">
      <h1>One Platform, Endless Possibilities</h1>
      <p>No matter what the use case is, we aim to solve our customers toughest challenges and help <br>them create meaningful digital experiences.</p>
    </div> -->

    <div class="home-container" style="background-color: #d9eeff;width: 90%;margin: auto;border-radius: 50px;">
      <div class="home-contain">
        <div class="main-contain">
          <h1 class="block">One Platform, Endless Possibilities</h1>
          <p>We solve our customers' toughest challenges by delivering innovative, tailored solutions that drive growth and improve efficiency. <b>Our focus is on creating meaningful digital experiences</b> that empower clients to thrive in an ever-evolving landscape, fostering long-term success.</p>
          <div class="buttons">
            <button class="button1" ><span><i class="fa fa-money"></i> Start Earning Now</span></button>
            <button class="button1" ><span><i class="fa fa-comment"></i> Connect with Us</span></button>
          </div>
        </div>
        <div class="video-container block">
          <img src="/img/flowchart.png" alt="" height="500" >
        </div>
      </div>
    </div>

    <h2 class="pcontent">Use Cases</h2>
    <div class="image-content">
      <div class="half block">
        <img src="/img/selfdashboard.png" alt="" height="200" width="200">
        <p><strong>Self Service Dashboard</strong><br><br>Manage all of your affiliates, advertisers, campaigns, creatives and invoicing in one place. OffersHub lets you monitor the whole of your network activities in real-time.</p>
      </div>
      <div class="half block">
        <img src="/img/mediabuyers.png" alt="" height="200" width="200">
        <p><strong>Media Buyers</strong><br><br>OffersHub lets you organize all of your campaigns and traffic sources in one dashboard. Many media buyers increased their revenue by atleast 30% with our real-time analytics.... <a href="/mediaBuyers">read more</a></p>
      </div>
      <div class="half block">
        <img src="/img/advertisers1.png" alt="" height="200" width="200">
        <p><strong>Advertisers</strong><br><br>Manage all your campaigns and affiliates in one dashboard while providing a self- service dashboard to your affiliates. Easily monitor campaign.... <a href="/advertisers">read more </a></p>
      </div>
      <div class="half block">
        <img src="/img/agencies.png" alt="" height="200" width="200">
        <p><strong>Agencies</strong><br><br>With OffersHub, agencies can manage all of their publisher and advertiser sources with available campaigns in one dashboard. Agencies can monitor all the stats and.... <a href="/agencies">read more </a></p>
      </div>
      <div class="half block">
        <img src="/img/email1.png" alt="" height="200" width="200">
        <p><strong>Email Marketers</strong><br><br>Use OffersHub to track all of your email impressions, clicks and conversions in real-time. We let you analyze your performance in real time so you can.... <a href="/emailMarketers">read more</a></p>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>