<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <div class="content">
      <h1>One Platform, Endless Possibilities</h1>
      <p>No matter what the use case is, we aim to solve our customers toughest challenges and help <br>them create meaningful digital experiences.</p>
    </div>
    <h2 class="pcontent">Use Cases</h2>
    <div class="image-content">
      <div class="half">
        <img src="/img/selfdashboard.png" alt="" height="200" width="200">
        <p><strong>Self Service Dashboard</strong><br><br>Manage all of your affiliates, advertisers, campaigns, creatives and invoicing in one place. OffersHub lets you monitor the whole of your network activities in real-time.</p>
      </div>
      <div class="half">
        <img src="/img/mediabuyers.png" alt="" height="200" width="200">
        <p><strong>Media Buyers</strong><br><br>OffersHub lets you organize all of your campaigns and traffic sources in one dashboard. Many media buyers increased their revenue by atleast 30% with our real-time analytics, smart links, and traffic filtering.... <a href="/mediaBuyers">read more &#x3e;&#x3e;</a></p>
      </div>
      <div class="half">
        <img src="/img/advertisers1.png" alt="" height="200" width="200">
        <p><strong>Advertisers</strong><br><br>Manage all your campaigns and affiliates in one dashboard while providing a self- service dashboard to your affiliates. Easily monitor campaign performances in real-time, block/filter unwanted traffic and detect fraud activities.... <a href="/advertisers">read more &#x3e;&#x3e;</a></p>
      </div>
      <div class="half">
        <img src="/img/agencies.png" alt="" height="200" width="200">
        <p><strong>Agencies</strong><br><br>With OffersHub, agencies can manage all of their publisher and advertiser sources with available campaigns in one dashboard. Agencies can monitor all the stats and transactions that's happening between publishers and advertisers in real-time.... <a href="/agencies">read more &#x3e;&#x3e;</a></p>
      </div>
      <div class="half">
        <img src="/img/email1.png" alt="" height="200" width="200">
        <p><strong>Email Marketers</strong><br><br>Use OffersHub to track all of your email impressions, clicks and conversions in real-time. We let you analyze your performance in real time so you can optimize your campaigns and boost ROI.... <a href="/emailMarketers">read more &#x3e;&#x3e;</a></p>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>