<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <h1 class="center color font">Pricing</h1>
    <section class="section pt-5 pb-5" id="pricing-plans">
      <div class="container">
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item">
            <div class="pricing-header">
              <h3 class="pricing-title">BASIC PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">43.90</span>
                <span class="period">/Month</span>
              </div>
              <ul class="list">
                <li class="active">Unlimited Website</li>
                <li class="active">Unlimited Users</li>
                <li class="active">15 GB Bandwidth</li>
                <li class="active">Highest Speed</li>
                <li class="active">Data Security and Backups</li>
                <li class="active">1 GB Storage</li>
                <li class="active">24x7 Great Support</li>
                <li class="active">Monthly Reports and Analytics</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-primary-line">Select Plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item active">
            <div class="pricing-header">
              <h3 class="pricing-title">ADVANCED PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">21.90</span>
                <span class="period">/Month</span>
              </div>
              <ul class="list">
                <li class="active">Unlimited Website</li>
                <li class="active">Unlimited Users</li>
                <li class="active">15 GB Bandwidth</li>
                <li class="active">Highest Speed</li>
                <li class="active">Data Security and Backups</li>
                <li class="active">1 GB Storage</li>
                <li>24x7 Great Support</li>
                <li>Monthly Reports and Analytics</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-primary-line">Select Plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item">
            <div class="pricing-header">
              <h3 class="pricing-title">EXPERT PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">43.90</span>
                <span class="period">/Month</span>
              </div>
              <ul class="list">
                <li class="active">Unlimited Website</li>
                <li class="active">Unlimited Users</li>
                <li class="active">15 GB Bandwidth</li>
                <li class="active">Highest Speed</li>
                <li class="active">Data Security and Backups</li>
                <li class="active">1 GB Storage</li>
                <li class="active">24x7 Great Support</li>
                <li class="active">Monthly Reports and Analytics</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-primary-line">Select Plan</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <div class="price-container">
      <div class="expert">
        <h2>Custom</h2>
        <button class="getbutton">Talk to an expert</button>
      </div>
      <div class="point-div">
        <h4>Get a custom plan tailored to your needs.</h4>
        <ul class="points">
          <li><i class="fa fa-check-circle"></i> Custom no. of Clicks</li>
          <li><i class="fa fa-check-circle"></i> Custom features</li>
          <li><i class="fa fa-check-circle"></i> Custom no. of Conversions</li>
          <li><i class="fa fa-check-circle"></i> Yearly/Monthly Contract</li>
          <li><i class="fa fa-check-circle"></i> Custom no. of Impressions</li>
          <li><i class="fa fa-check-circle"></i> 24/7 Support</li>
        </ul>
      </div>
    </div>

    <div class="get">
      <h2 class="pcontent">Start your affiliate network today,<br>or migrate existing</h2>
      <button class="getbutton">Get Started - It's Free</button>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>