<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <!-- top container -->
    <div class="home-container" style="background-color: #d9eeff;width: 90%;margin: auto;border-radius: 50px;">
      <div class="home-contain" >
        <div class="main-contain">
          <h1 class="block">Custom Plans</h1>
          <p>Get a custom plan tailored to your needs.<br>
            <i class="fa fa-check-circle"></i> Custom no. of Clicks<br>
            <i class="fa fa-check-circle"></i> All Features Unlocked<br>
            <i class="fa fa-check-circle"></i> Special Contracts & Pricing<br>
            <i class="fa fa-check-circle"></i> 24/7 Email, Chat and Phone Support<br>
            <i class="fa fa-check-circle"></i> All Features + Custom Development<br>
            <i class="fa fa-check-circle"></i> Host On-premise or on a Private Cloud<br>
            <i class="fa fa-check-circle"></i> Personalized Product Training<br>
            <i class="fa fa-check-circle"></i> Dedicated Account Manager<br>
          </p>
            <a href="/contactUs"><button class="button" style=" padding: 1rem 3rem;"><span>Talk to the Expert</span></button></a>
        </div>
        <div class="video-container block">
          <img src="/img/pricing.png" alt="" class="indeximg" >
        </div>
      </div>
    </div>

    <h2 class="pcontent">Our Pricing</h2>
    
    <section class="section pt-5 pb-5" id="pricing-plans">
      <div class="container">
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item">
            <div class="pricing-header">
              <h3 class="pricing-title">START-UP PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">99</span>
                <span class="period">/Month</span>
              </div>
              <p style="color: #0078ff;text-align: center;font-size: 25px;padding: 10px 0px;">15 days free trial!</p>
              <ul class="list">
                <li class="active">200,000 Clicks</li>
                <li class="active">5,000 Conversions</li>
                <li>Smart Links</li>
                <li>Smart Offer Sync</li>
                <li>Smart Mailer</li>
                <li>Conversion Fraud Detection</li>
                <li>All Features Unlocked</li>
                <li class="active">Email Support</li>
                <li class="active">$2 per Additional 10000 Events</li>
                <li class="active">$0.01 per 1000 impressions</li>
                <li class="active">1GB Media Storage</li>
                <li class="active">$1/GB for Additional Storage</li>
                <li>Custom SSL Certificate</li>
                <li>Fully Whitelabel</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="/contactUs" class="btn-primary-line">TRY IT FOR FREE</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item active">
            <div class="pricing-header">
              <h3 class="pricing-title">PRO PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">249</span>
                <span class="period">/Month</span>
              </div>
              <p style="color: #0078ff;text-align: center;font-size: 25px;padding: 10px 0px;">15 days free trial!</p>
              <ul class="list">
                <li class="active">Unlimited Clicks</li>
                <li class="active">10,000 Conversions</li>
                <li class="active">Smart Links</li>
                <li class="active">Smart Offer Sync</li>
                <li class="active">Smart Mailer</li>
                <li class="active">Conversion Fraud Detection</li>
                <li class="active">All Features Unlocked</li>
                <li class="active">24/7 Email, Chat and Phone Support</li>
                <li class="active">$0.016 per Additional Conversion</li>
                <li class="active">No extra charges for impressions</li>
                <li class="active">10GB Media Storage</li>
                <li class="active">$1/GB for Additional Media Storage</li>
                <li>Custom SSL Certificate + Dedicated IP</li>
                <li>Fully Whitelabel</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="/contactUs" class="btn-primary-line">TRY IT FOR FREE</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item">
            <div class="pricing-header">
              <h3 class="pricing-title">BUSINESS PLAN</h3>
            </div>
            <div class="pricing-body">
              <div class="price-wrapper">
                <span class="currency">$</span>
                <span class="price">499</span>
                <span class="period">/Month</span>
              </div>
              <p style="color:#0078ff;text-align: center;font-size: 25px;padding: 10px 0px;">15 days free trial!</p>
              <ul class="list">
                <li class="active">Unlimited Clicks</li>
                <li class="active">40,000 Conversions</li>
                <li class="active">Smart Links</li>
                <li class="active">Smart Offer Sync</li>
                <li class="active">Smart Mailer</li>
                <li class="active">Conversion Fraud Detection</li>
                <li class="active">All Features Unlocked</li>
                <li class="active">24/7 Email, Chat and Phone Support</li>
                <li class="active">$0.013 per Additional Conversion</li>
                <li class="active">No extra charges for impressions</li>
                <li class="active">25GB Media Storage</li>
                <li class="active">$1/GB for Additional Media Storage</li>
                <li class="active">Custom SSL Certificate + Dedicated IP</li>
                <li class="active">Fully Whitelabel</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="/contactUs" class="btn-primary-line">TRY IT FOR FREE</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <div class="trial-container">
      <div class="trial">
        <div class="trial1 block">
          <h3>Start Your Affiliate Network Today</h3>
          <p>Launch your affiliate network with OffersHub—track, boost conversions, and grow revenue effortlessly.
          </p>
          <a href="/contactUs"><button class="button"><span>Try it for free now!</span></button></a>
        </div>
        <div class="trial2 block">
          <h3>Schedule Demo with Our Experts</h3>
          <p>Book a demo with our experts to explore powerful features and maximize your affiliate growth.</p>
          <a href="/demo"><button class="button"><span>Book a demo</span></button></a>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>