<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="home-container" style="background-color: #c9f4ff;width: 90%;margin: auto;border-radius: 50px;">

      <div class="home-contain">
        <div class="main-contain">
          <h1 class="block" style="color: #0088AB;">OffersHub SaaS, Secure & reliable platform that scales with
            your business</h1>
          <p><b>Increase your revenue</b> with globally distributed cloud-based tracking. Instead of installing
            and
            maintaining your own servers, you simply access OffersHub using your browser, freeing
            yourself from complex software and hardware management tasks. <b>Our experts manage
              access to your dashboards</b>, including security, availability and performance.</p>
          <div class="buttons">
            <a href="/demo"><button class="button1" style="background-color: #0088AB;border: 1px solid #0088AB;"><span><i class="fa fa-money"></i> Start Earning Now</span></button></a>
            <a href="/connectUs"><button class="button1" style="background-color: #0088AB;border: 1px solid #0088AB;"><span><i class="fa fa-comment"></i> Connect with Us</span></button></a>
          </div>
        </div>
        <div class="video-container block">
          <img src="/img/saas.png" alt="" height="500">
        </div>
      </div>
    </div>

    <h2 class="pcontent">Focus on your Business, not Tech Issues</h2>

    <div class="image-container" style="width: 75%;">
      <div class="card-cloud block">
        <div style="display: flex;justify-content: flex-start;align-items: center;gap: 10px;">
          <img src="/img/cloud4.png" alt="" height="30">
          <h1>Pay for What You Use!</h1>
        </div>
        <p>Forget about overpaying for hosting, backups, or hiring developers for 24/7 infrastructure monitoring. With OffersHub SaaS, pay for usage.</p>
      </div>
      <div class="card-cloud block">
        <div style="display: flex;justify-content: flex-start;align-items: center;gap: 10px;">
          <img src="/img/cloud3.png" alt="" height="30">
          <h1>Easy Customization and Branding...</h1>
        </div>
        <p>OffersHub SaaS provides over 500+ configurable options to personalize your platform’s features and adjust your dashboard’s look and feel.</p>
      </div>
      <div class="card-cloud block">
        <div style="display: flex;justify-content: flex-start;align-items: center;gap: 10px;">
          <img src="/img/cloud2.png" alt="" height="30">
          <h1>Reliable!</h1>
        </div>
        <p>With OffersHub SaaS, you don’t have to worry about system uptime. Our 99.999% SLA guarantees reliable managed services and performance.</p>
      </div>
      <div class="card-cloud block">
        <div style="display: flex;justify-content: flex-start;align-items: center;gap: 10px;">
          <img src="/img/cloud1.png" alt="" height="30">
          <h1>Scalable!</h1>
        </div>
        <p>Whether scaling your business or handling unexpected traffic spikes, we offer globally distributed tracking that seamlessly adjusts to your needs.</p>
      </div>

    </div>

  </main>
  <%- include('partials/footer') -%>
</body>

</html>