<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <div class="content">
      <h1>OffersHub SaaS, Secure & reliable platform <br> that scales with your business</h1>
      <p>Increase your revenue with globally distributed cloud-based tracking. Instead of installing and <br>
        maintaining your own servers, you simply access OffersHub using your browser, freeing <br>
        yourself from complex software and hardware management tasks. Our experts manage <br>
        access to your dashboards, including security, availability and performance.</p>
    </div>
    <h2 class="pcontent">FOCUS ON YOUR BUSINESS, NOT TECH ISSUES</h2>
    <div class="image-container">
        <img src="/img/cloudflowchart.png" alt="">
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>