<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>

    <div class="home-container" style="background-color: #d9eeff;width: 90%;margin: auto;border-radius: 50px;">

      <div class="home-contain">
        <div style="width: 50%;">
          <h1 class="block">SECURITY & COMPLIANCE</h1>
          <p>Your data’s security is our priority. <b>We adhere to global compliance standards</b>, using encryption and regular audits to ensure the highest levels of protection, giving you peace of mind at all times.</p>
          <div class="buttons">
            <button class="button1" ><span>Talk to an Expert</span></button>
            <button class="button1" ><span><i class="fa fa-comment"></i> Connect with Us</span></button>
          </div>
        </div>
        <div class="video-container block">
          <img src="/img/onpremise.png" alt="" height="500" >
        </div>
      </div>
    </div>

    <div class="image-content">
      <div class="half block">
        <img src="/img/security1.png" alt="" height="200" >
        <p><strong>SOC 2 & SOC 3 Compliant</strong><br><br> Information security is a priority at OffersHub. We strictly follow SOC 2 guidelines to meet all five AICPA trust principles for excellence in security and operations.</p>
      </div>
      <div class="half block">
        <img src="/img/security2.png" alt="" height="200" >
        <p><strong>Secured Data Centers</strong><br><br>Our data centers are globally distributed and meet ISO27001, SOC 2, and PCI DSS compliance standards, ensuring data protection and availability across the network.</p>
      </div>
      <div class="half block">
        <img src="/img/security3.png" alt="" height="200" >
        <p><strong>Hardened Infrastructure</strong><br><br> We implement a hardened infrastructure, rigorously tested to detect and prevent threats, providing strong protection and resilience against potential vulnerabilities.</p>
      </div>
    </div>    
  </main>
  <%- include('partials/footer') -%>
</body>

</html>