<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main>
    <div class="content">
      <h1>SECURITY & COMPLIANCE</h1>
      <p>You can trust us with your data!</p>
    </div>
    <div class="image-container">
        <img src="/img/security.png" alt="">
        <img src="/img/security2.png" alt="">
        <img src="/img/security3.png" alt="">
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>