<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->
  <main class="privacy">
    <h1>Terms of Service</h1>
    <div class="privacy-content">
      <div class="left-content">
        <p>Table Of Content</p>
        <ul>
          <a href="#terms1">
            <li>Agreement</li>
          </a>
          <a href="#terms2">
            <li>Free Trial</li>
          </a>
          <a href="#terms3">
            <li>OffersHub's Obligations</li>
          </a>
          <a href="#terms4">
            <li>Subscriber’s Obligations</li>
          </a>
          <a href="#terms5">
            <li>Term and Termination</li>
          </a>
          <a href="#terms6">
            <li>Beta Services</li>
          </a>
          <a href="#terms7">
            <li>Fees and Payment</li>
          </a>
          <a href="#terms8">
            <li>Confidentiality</li>
          </a>
        </ul>
      </div>
      <div class="right-content">
        <p class="padding" style="text-align: center;">Terms of Service <br> April 25, 2018 Effective Date: May
          25, 2018</p>
        <p class="padding">These terms of service (these “terms”) govern subscription to and
          use of Offershub’s services. if you register for a free trial of
          Offershub’s services, the applicable provisions of these terms will
          also govern that free trial. by accessing or using Offershub’s
          websites and services, you accept or agree to these terms. if you
          are entering into or accepting these terms on behalf of a legal
          entity, you represent and warrant that you have the right, authority
          and capacity to bind such entity and its affiliates to these terms,
          in which case, the term “subscriber” shall refer to such entity and
          its affiliates. if you do not have such authority, or if you do not
          agree to be bound by all of the provisions of these terms, do not
          access or use Offershub’s services.</p>
        <p class="padding heading" id="terms1"><strong>Agreement</strong>
        <p>These Terms of Service (these “Terms”) are made by and between the party on whose behalf they are accepted (“Subscriber”) and OFFERSHUB and are effective as of the date they are accepted by Subscriber. “OFFERSHUB” means either (i) OFFERSHUB, Inc., a Delaware corporation, with offices at 301 Howard Street, Suite 300, San Francisco, CA 94105, U.S.A., if Subscriber is domiciled in a country outside of Europe, or (ii) OFFERSHUB SAS, a French société par actions simplifiée, with offices at 55 Rue d’Amsterdam, 75008 Paris, France, if Subscriber is domiciled in a country within Europe. The complete subscription agreement including these Terms (the “Agreement”) is made for the purpose of granting Subscriber a limited subscription to use OFFERSHUB’S hosted search, support or other services (the “Services”).
        </p>
        </p>
        <p class="padding heading" id="terms2"><strong>Free Trial</strong>
        <p>If Subscriber registers at OFFERSHUB’S websites for a free trial
          (“Trial Account”) of one or more Services, OFFERSHUB will make such
          Services available to the Subscriber on a trial basis free of charge
          until the earliest of (a) twenty nine (29) days (the “Evaluation
          Period”), (b) the start of any paid subscription for such Services,
          or (c) termination by OFFERSHUB at its sole discretion. If, at the
          end of the Evaluation Period, Subscriber does not sign up for a paid
          subscription of the Services, the Agreement will automatically
          terminate unless OFFERSHUB agrees, in its sole discretion, to extend
          the Evaluation Period. Additional terms and conditions may appear on
          the registration website for a Trial Account and any such additional
          terms and conditions are incorporated into this Agreement by
          reference and are legally binding.<br>
          All Trial accounts are provided “as is” and “as available” without any warranty of any kind. trial
          accounts may be suspended, terminated, or discontinued at any time and for any reason (or no reason).
          Offershub disclaims all obligation and liability under the agreement (including liability otherwise
          provided for under section13 (limitation of liability)) for any harm or damage arising out of or in
          connection with a trial account, including any obligation or liability with respect to subscriber data.
          Any configurations or subscriber data entered into a trial account, and any customizations made to a
          trial account by or for subscriber, may be permanently lost if the trial account is suspended,
          terminated, or discontinued. Offershub’s indemnity obligations under section 16 (indemnification) do not
          apply to trial accounts.</p>
        </p>
        <p class="padding heading" id="terms3"><strong>OffersHub's Obligations</strong>
        <ul>
          <li><strong>Services</strong>:- OFFERSHUB will make the Services available to Subscriber
            according to one or more online or written ordering documents
            (each a “Service Order”). The Agreement includes each Service
            Order incorporating the Agreement.</li>
          <li><strong>Compliance with Laws.</strong>:- OFFERSHUB will comply with all laws and governmental regulations
            applicable to the Services.</li>
          <li><strong>Personnel and Performance.</strong>:- OFFERSHUB will be responsible for the performance of its
            personnel (including employees and contractors) and their
            compliance with the Agreement. OFFERSHUB enters into the
            Agreement on behalf of itself and its Affiliates. An “Affiliate”
            of a party is any entity,(a) that the party Controls, (b) that
            the party is Controlled by; or (c) with which the party is under
            common Control, where “Control” means direct or indirect control
            of fifty percent (50%) or more of an entity’s voting interests
            (including by ownership).</li>
          <li><strong>Documentation</strong>:- OFFERSHUB will make online documentation available at
            <b><a href="https://www.offershub.com/doc/">https://www.offershub.com/doc/</a></b> (the “Documentation”) that
            describe: (a) OFFERSHUB software made accessible as part of the
            Services (“OFFERSHUB Software”) and (b) usage guides for the
            Services.
          </li>
          <li><strong>Security Measures.</strong>
            OFFERSHUB will maintain administrative, physical, and technical
            safeguards for the security and integrity of the Services (the
            “Security Measures”) consistent with industry standard practices
            as described at <b><a href="https://www.OFFERSHUB.com/security">https://www.OFFERSHUB.com/security</a></b>. OFFERSHUB
            will store, process, transmit and disclose electronic data and
            configurations submitted to the Services at the direction of or
            on behalf of Subscriber (“Subscriber Data”) only according to
            the Agreement and the Documentation. The Services, independent
            of Subscriber Data, will not transmit code, files, scripts,
            agents, or programs intended to do harm, including, viruses,
            worms, time bombs, and Trojan horses (“Malicious Code”).</li>
        </ul>
        </p>
        <p class="padding heading" id="terms4"><strong>Subscriber’s Obligations</strong>
          <ul>
            <li><strong>Subscriber Data</strong>:- As between OFFERSHUB and Subscriber, Subscriber is responsible
                for Subscriber Data and the provision of Subscriber Data to the
                Services according to the Agreement.</li>
            <li><strong>Personnel and Performance.</strong>:- Subscriber will be responsible for the performance of its
                personnel (including employees and contractors) in compliance
                with the Agreement. Subscriber enters into the Agreement on
                behalf of its Affiliates that make use of the Services.</li>
            <li><strong>Non-OFFERSHUB Services</strong>:- Subscriber may choose to use services not provided by OFFERSHUB
                (“Non-OFFERSHUB Services”) with the Services and in doing so
                grants OFFERSHUB permission to interoperate with the
                Non-OFFERSHUB Services as directed by Subscriber or the
                Non-OFFERSHUB Services. Unless specified in a Service Order: (a)
                OFFERSHUB does not warrant or support Non-OFFERSHUB Services,
                (b) as between OFFERSHUB and Subscriber, Subscriber assumes all
                responsibility for the Non-OFFERSHUB Services and any
                disclosure, modification or deletion of Subscriber Data by the
                Non-OFFERSHUB Services and (c) OFFERSHUB shall have no liability
                for, and Subscriber is not relieved of any obligations under the
                Agreement or entitled to any refund, credit, or other
                compensation due to any unavailability of the Non-OFFERSHUB
                Services or any change in the ability of OFFERSHUB to
                interoperate with the Non-OFFERSHUB Services.</li>
        </ul>
        </p>
        <p class="padding heading" id="terms5"><strong>Term and Termination</strong>
          <ul>
            <li><strong>Term</strong>:-
                These Terms are effective during the term of any Service Order
                that incorporates the Agreement. The term of a Service Order
                shall be specified in the Service Order. Service Orders shall
                renew for successive terms, unless either party gives the other
                at least ninety (90) days’ notice of nonrenewal at the end of
                the applicable term.</li>
            <li><strong>Termination for Cause</strong>:-
                In addition to OFFERSHUB’S right to terminate the entire
                Agreement under Section 4.6 (Service Notices), Subscriber or
                OFFERSHUB may terminate the entire Agreement for cause (a) upon
                30 days’ written notice to the other of a material breach if the
                breach remains uncured at the expiration of the notice period or
                (b) if the other party (i) becomes the subject of a proceeding
                relating to insolvency, receivership, liquidation or assignment
                for the benefit of creditors to the extent permitted by
                applicable laws or governmental regulations, (ii) goes out of
                business or (iii) ceases its operations.</li>
            <li><strong>Survival</strong>:-
                Any term or condition that by its nature is clearly intended to
                survive the expiration or termination of the Agreement, shall
                survive any expiration or termination of the Agreement,
                including Sections 4.5(j), (k), (n), (o) and (p) (Subscriber’s
                Obligations), Section 7.1 (Fees), Section 7.5 (Refund or Payment
                upon Termination), Section 8 (Confidentiality), Section 9
                (Licenses and Proprietary Rights), Section 13 (Limitation of
                Liability), Section 14 (Exclusion of Consequential and Related
                Damages) and Section 16 (Indemnification).</li>
        </ul>
        </p>
        <p class="padding heading" id="terms6"><strong>Beta Services</strong>
          <p>From time to time, OFFERSHUB may offer services identified as beta,
            pilot, developer preview, non-production, evaluation or by a
            description of similar import (“Beta Services”). Subscriber may
            accept or decline Beta Services. If accepted by Subscriber, Beta
            Services: (a) are provided only for evaluation purposes; (b) may not
            be relied on by Subscriber for production use; (c) may not be
            supported; and (d) may be subject to additional terms. Unless
            otherwise stated, any Beta Services trial period will expire on the
            date that a version of the Beta Services becomes generally available
            or is discontinued. OFFERSHUB may discontinue Beta Services at any
            time in its sole discretion and may never make Beta Services
            generally available. ALL BETA SERVICES ARE PROVIDED “AS IS” AND “AS
            AVAILABLE” WITHOUT ANY WARRANTY OF ANY KIND. BETA SERVICES MAY BE
            TERMINATED AT ANY TIME. OFFERSHUB DISCLAIMS ALL OBLIGATION AND
            LIABILITY UNDER THE AGREEMENT FOR ANY HARM OR DAMAGE ARISING OUT OF
            OR IN CONNECTION WITH A BETA SERVICE, INCLUDING ANY OBLIGATION OR
            LIABILITY WITH RESPECT TO SUBSCRIBER DATA. ANY CONFIGURATIONS OR
            SUBSCRIBER DATA ENTERED INTO BETA SERVICES, AND ANY CUSTOMIZATIONS
            MADE TO BETA SERVICES BY OR FOR SUBSCRIBER, MAY BE PERMANENTLY LOST
            IF THE BETA SERVICES ARE SUSPENDED, TERMINATED, OR DISCONTINUED..
        </p>
        </p>
        <p class="padding heading" id="terms7"><strong>Fees and Payment</strong>
          <ul>
            <li> <strong>Fees</strong>:-
                Subscriber will pay all fees specified in Service Orders and
                provide accurate and updated billing contact information. Except
                as set forth in a Service Order, all fees payable under the
                Agreement shall be made in U.S. Dollars. Minimum commitments in
                Service Orders are (a) based on Services purchased and not
                actual usage; (b) non-cancelable; and (c) cannot be decreased
                during the specified term. Fees paid for minimum commitments are
                not refundable. Subscriber’s payments of fees are neither (x)
                contingent on the delivery of any future functionality or
                features nor (y) dependent on statements not set forth in the
                Agreement or any Service Order.</li>
            <li> <strong>Invoicing Terms</strong>:-
                If the Service Order specifies that payment will occur by a
                method other than a credit card, Subscriber will provide a
                purchase order number in the applicable amount (or reasonable
                alternative proof of Subscriber’s ability to pay the fees
                specified in a Service Order), and promptly notify OFFERSHUB of
                any changes necessary for payment of an invoice. OFFERSHUB will
                invoice Subscriber either monthly or according to the billing
                frequency stated in the Service Order. Invoices to be paid by
                credit card are due on the invoice date, all other invoices are
                due net 30 days from the invoice date. If any invoiced amount is
                not received by OFFERSHUB by the due date, then without limiting
                OFFERSHUB’S rights or remedies: (a) those charges may accrue
                late interest at the rate of 1.5% of the outstanding balance per
                month, or the maximum rate permitted by law, whichever is lower
                and (b) OFFERSHUB may condition future subscription renewals and
                Service Orders on shorter payment terms. If Subscriber is paying
                for Services by credit card, Subscriber will provide OFFERSHUB’S
                authorized payment processer with valid credit card information
                and promptly notify OFFERSHUB’S authorized payment processor of
                any changes necessary to charge the credit card. The provision
                of credit card information to OFFERSHUB’S authorized payment
                processer authorizes OFFERSHUB, through its authorized payment
                processer, to charge the credit card for all Services specified
                in a Service Order, and any renewal subscription. Subscriber
                acknowledges that OFFERSHUB will not have access to Subscriber’s
                credit card information.</li>
            <li><strong>Suspension of Service and Acceleration</strong>:-
                If any amount owing by Subscriber is 30 or more days overdue (or
                15 or more days overdue in the case of invoices to be paid by
                credit card), OFFERSHUB may, without limiting any rights and
                remedies, accelerate Subscriber’s unpaid fee obligations to
                become immediately due and payable, and block the provision of
                Services to Subscriber until the overdue amounts are paid in
                full. OFFERSHUB will give Subscriber at least 10 days’ prior
                notice that its account is overdue, in accordance with Section
                19 (Manner of Giving Notice), before blocking Services to
                Subscriber.</li>
            <li><strong>Payment Disputes</strong>:-
                OFFERSHUB will not exercise any rights to block Services,
                accelerate payments, impose late charges or change payment terms
                under Section 7.2 (Invoicing Terms) and Section 7.3 (Suspension
                of Service and Acceleration) with respect to an overdue amount
                for so long as Subscriber is disputing the overdue amount in
                good faith. The parties shall cooperate diligently to resolve
                the dispute.</li>
        </ul>
        </p>
        <p class="padding heading" id="terms8"><strong>Confidentiality</strong>
          <ul>
            <li><strong>Confidential Information</strong>:-
                Confidential Information” means all information disclosed by a
                party (“Disclosing Party”) to the other party (“Receiving
                Party”), whether orally or in writing, that is designated as
                confidential or, given the nature of the information and the
                circumstances of disclosure, should be understood to be
                confidential. Subscriber’s Confidential Information includes the
                Subscriber Data; OFFERSHUB’S Confidential Information includes
                the Services; and Confidential Information of each party
                includes but is not limited to the terms and conditions of the
                Agreement and all Service Orders, including pricing, business
                and marketing plans, technology and technical information,
                product plans and designs, and business processes disclosed by
                each party in connection with the Agreement. Confidential
                Information does not include information that: (a) is at the
                time of disclosure, or later becomes, generally known to the
                public through no fault of Receiving Party; (b) was known to the
                Receiving Party with no obligation of confidentiality prior to
                disclosure by Disclosing Party, as proven by records of
                Receiving Party; (c) is disclosed to Receiving Party by a third
                party who did not directly or indirectly obtain the information
                subject to any confidentiality obligation; or (d) is at any time
                independently developed by Receiving Party without use of
                Disclosing Party’s Confidential Information as proven by records
                of Receiving Party

            </li>
            <li><strong>Protection of Confidential</strong>:-
                information. Except as provided in Section 8.3 (Compelled
                Disclosure) Receiving Party shall not disclose or otherwise make
                available any Confidential Information of Disclosing Party to
                anyone except those of its employees, directors, attorneys,
                agents and consultants who: (a) need to know the Confidential
                Information in connection with the purpose of the Agreement and
                (b) who have previously agreed to be bound by confidentiality
                obligations no less stringent than those in the Agreement. Each
                party shall (x) safeguard all Confidential Information of the
                other party with at least the same degree of care (but no less
                than reasonable care) as it uses to safeguard its own
                confidential information and (y) not use any Confidential
                Information of the other party for any purpose outside the scope
                of the Agreement.</li>
        </ul>
        </p>

      </div>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>