<html lang="en">
<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
  <%- include('partials/chatbot') -%>
  <!-- <%- include('partials/totop') -%> -->
  <!-- <%- include('partials/loader') -%> -->

  <main>
    <div class="home-container" style="background-image: url(/img/aboutimg.png);background-size: cover;">
      <div class="home-contain" style="text-align: center;width: 65%;margin: auto;">
        <div>
          <img src="/img/check.png" alt="">
          <h1 class="block">Thank You</h1>
          <p>Your request has been successfully submitted. You will receive your account details via email within 24 hours. Please <a href="https://join.skype.com/invite/apiguKIFVPvk" style="color: #0078FF;text-decoration: underline;">add us on your Skype</a> to get updates from our team. </p>
          <div style="display: flex;justify-content: center;align-items: center;gap: 30px;margin: 30px 0px;flex-wrap: wrap;">
            <div class="one block">
              <span>Connect with Us</span>
              <div class="ion">
                <a href="https://www.instagram.com/offershub/"><img src="/img/instagram.png" alt=""></a>
                <a href="https://www.facebook.com/offershub.io"><img src="/img/facebook.png" alt=""></a>
                <a href="https://www.linkedin.com/company/offershub/product/"><img src="/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/@offershubsupport9350"><img src="/img/youtube.png" alt=""></a>
              </div>
            </div>
            <div class="two block">
              <span>Visit our Marketplace</span>
              <a href="https://marketplace.offershub.com/"><button class="thank">Visit Marketplace</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('partials/footer') -%>
</body>

</html>